.board{
    /* height: 100vh; */
    /* background-color: aqua; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
input{
   margin: 1em;
   /* background-color: aqua; */
}
.img{
   border-radius: 50px;
   /* background-color: brown; */

}